flows.json
[{"id":"dae1965.59a8168","type":"tab","label":"Call Sofar script to update EmonCMS","disabled":false,"info":""},{"id":"54efe423.c9e0bc","type":"exec","z":"dae1965.59a8168","command":"python ~/Sofar/sofar.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Run Sofar.py","x":410,"y":240,"wires":[["782fdb5f.aa45c4"],["1d9bf01.bf1af1"],["68bbe842.cd1228"]]},{"id":"bedf9640.0ad798","type":"inject","z":"dae1965.59a8168","name":"30s Timer Pulse","topic":"","payload":"","payloadType":"date","repeat":"30","crontab":"","once":true,"onceDelay":0.1,"x":230,"y":240,"wires":[["54efe423.c9e0bc"]]},{"id":"1d9bf01.bf1af1","type":"debug","z":"dae1965.59a8168","name":"StdErr","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":600,"y":240,"wires":[]},{"id":"782fdb5f.aa45c4","type":"debug","z":"dae1965.59a8168","name":"StdOut","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":590,"y":200,"wires":[]},{"id":"68bbe842.cd1228","type":"debug","z":"dae1965.59a8168","name":"ReturnCode","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":610,"y":280,"wires":[]}]